---
layout: archive
permalink: /adventures/
title: "Fun & Hobbies"
pagination: 
  enabled: true
  per_page: 5
  permalink: "/page/:num/"
  collection: adventures
  sort_reverse: true
---

{% include base_path %}
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="prev">Previous</a>
  {% endif %}

  <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>